{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>{% block title %}My Application{% endblock %}</title>
</head>
<body>
    {% block navbar %}
    <nav class="navbar">
        <ul>
            <li><a href="{% url 'home' %}">Sign PDF</a></li>
            <li><a href="{%url 'pairs' %}">Key Management</a></li>
            <li><a href="{% url 'decrypt' %}">Decrypt PDF</a></li>
            <li><a href="#">Profile</a></li>
        </ul>
    </nav>
    {% endblock navbar %}

    <div class="content">
        {% block content %}
        <!-- Default content -->
        {% endblock content %}
    </div>
</body>
</html>
