{% extends "base.html" %}
{% load static %}

{% block content %}

<h2>Decrypt</h2>
<div class="form-container">
    <h1>Decrypt PDF</h1>
    <form method="post" enctype="multipart/form-data" action="{% url 'decrypt' %}">
        {% csrf_token %}
        <div>
            <label for="file">Select File:</label>
            <select id="file" name="file" required>
                {% for file in files %}
                    <option value="{{ file.id }}">{{ file.file_name }}</option>
                {% empty %}
                    <option value="">No files available</option>
                {% endfor %}
            </select>
        </div>
    
        <button type="submit">Decrypt PDF</button>
    </form>
</div>

{% endblock content %}
