{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>Firma Digital</h1>

<h2>Firma Digital</h2>
<div class="form-container">
    <h1>Upload and Sign PDF</h1>
    <form method="post" enctype="multipart/form-data" action="{% url 'sign-pdf' %}">
        {% csrf_token %}
        <div>
            <label for="pdf">PDF Document:</label>
            <input type="file" id="pdf" name="pdf" required>
        </div>
        <div>
            <label for="private_key">Private Key:</label>
            <input type="file" id="private_key" name="private_key" required>
        </div>
        <button type="submit">Upload and Sign PDF</button>
    </form>
</div>


{% endblock content %}
